header {
    a.home-button,
    a.menu-button {
        position: absolute;
        z-index: 9999;
        top: 17px;
        right: 0;
        height: 44px;
        width: 44px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    a.close-menu {
        display: block;
        text-align: left;
        font-size: 52px;
        font-family: sans-serif;
        margin-top: 0;
        padding-bottom: 0.55em;
        line-height: 0.5;
    }

    nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        max-width: 400px;
        padding: 2em 0;
        background-color: $HZNavy;
        color: $White;
        z-index: 30;
        display: none;
        a  {
            color: $White;
            text-decoration: none;
            font-size: 21px;
        }
        a.show-children,
        a.show-parent {
            border-bottom: none!important;
            margin-right: 5px;
            i {
                vertical-align: middle;
            }
        }
        ul {
            li {
                a {
                    padding-bottom: 0.5em;
                    display: inline-block;
                    border-bottom: 4px solid transparent;
                }
                &.current {
                    a,
                    a:hover{
                        border-bottom: $thick-border;
                    }
                }
                &.section {
                    a {
                        color: $HZPinky!important;
                        border-bottom: 4px solid $HZPinky;
                        &.has-parent {
                            border-bottom: 4px solid $HZPinky!important;
                        }
                        color: #fff;
                        i {
                            color: #fff;
                            opacity: 0.5;
                            &:hover {
                                opacity: 1;
                            }
                        }

                    }
                }
            }
        }
    }
}


/**
 * overlay menu
 */

body.has-menu-overlay {
    overflow: hidden;
    header {
        a.menu-button.open {
            opacity: 0;
        }
        nav {
            width: calc(39% - 1% - 15px);
            padding: calc(15px + 1%);
            min-width: 200px;
            max-width: 100%;
            overflow-y: auto;
            display: block;
            @include bp(min-md){
                max-width: 400px;
            }
            ul li a {
                margin: 0.5em 0em;
            }
            a.load-ajax-menu {
                float: right!important;
                i{
                    vertical-align: baseline;
                }
            }
            li {clear: right;}
        }
    }
}





@include bp(min-lg){
    body.not-scrolled {
        #Wrapper {
            header {
                width: 100%;
                a.menu-button {
                    display: none;
                }
                nav#main-menu {
                    display: block!important;
                    position: absolute;
                    padding: 0;
                    top: 0px;
                    left: 450px;
                    bottom: 0;
                    margin: 0;
                    width: auto;
                    max-width: 100%;
                    background-color: transparent;
                    overflow: visible;


                    a.close-menu {
                        display: none;
                    }


                    > ul {
                        position: absolute;
                        bottom: 0px;
                        right: 0;
                        margin: 0;
                        margin-bottom: -4px;
                        padding: 0;
                        display: block;
                        text-align: center;
                        a {
                            padding: 0;
                            font-size: 16px;
                        }
                        > li {
                            display: inline-block;
                            padding: 0px 20px 0 0;
                            a {
                                &:hover {
                                    border-top: 4px solid $White;
                                }
                            }
                            a, span, a i {
                                font-size: calc(5px + 1vw);
                                @include bp(min-xl) {
                                    font-size: 20px;
                                }

                            }
                            a i {
                                opacity: 0.5;
                                &:hover{
                                    border-bottom: 4px solid transparent;
                                    opacity: 1;
                                }
                            }
                            a.show-children i {
                                color: #fff;
                            }

                            &.has-parent {
                                border-bottom: none;
                                margin-bottom: 0;
                            }
                            &.last {
                                padding: 0;
                            }
                            a.show-children,
                            a.show-parent {
                                i {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@include bp(min-xl){
    body.not-scrolled {
        #Wrapper {
            header {
                nav#main-menu {
                    > ul {
                        ul {
                            right: 0!important;
                        }
                    }
                }
            }
        }
    }
}
