header {
    a.home-button,
    a.menu-button {
        position: absolute;
        z-index: 9999;
        top: 20px;
        right: 0;
        height: 44px;
        width: 44px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }

    a.close-menu {
        display: block;
        text-align: left;
        font-size: 52px;
        font-family: sans-serif;
        margin-top: 0;
        padding-bottom: 0.55em;
        line-height: 0.5;
    }

    nav {
        /*transition: all 0.2s ease-out 0.2s;
        -webkit-transition: all 0.2s ease-out 0.2s;*/
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        max-width: 400px;
        padding: 2em 0;
        background-color: green;
        color: $White;
        z-index: 30;
        display: none;
        a  {
            color: $White;
            text-decoration: none;
            font-size: 21px;
        }
        a.show-children,
        a.show-parent {
            border-bottom: none!important;
            margin-right: 5px;
            padding: 4px 0 8px;
            i {
                vertical-align: middle;
            }
        }
        ul {
            li {
                a {
                    padding: 0.3em 0em;
                    display: inline-block;
                    border-bottom: 4px solid transparent;
                }
                &.current {
                    a,
                    a:hover{
                        border-bottom: $thick-border;
                    }
                }
                &.section {
                    a {
                        border-bottom: 4px solid #fff;
                        &.has-parent {
                            border-bottom: 4px solid #fff!important;
                            a {
                                border-bottom: 4px solid transparent!important;
                            }
                        }
                        color: #fff;
                        i {
                            color: #fff;
                            opacity: 0.5;
                            &:hover {
                                opacity: 1;
                            }
                        }

                    }
                }
                &.has-children {
                    display: flex;
                    align-items: center;
                }
                &.has-parent {
                    @extend .has-children;
                }
            }
        }
    }
}


/**
 * overlay menu
 */

body.has-menu-overlay {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    overflow: hidden;
    header nav {
        width: calc(39% - 1% - 15px);
        padding: calc(15px + 1%);
        min-width: 200px;
        max-width: 100%;
        overflow-y: auto;
        display: block;
        @include bp(min-md){
            max-width: 400px;
        }
    }
    a.menu-button.open {
        opacity: 0;
    }
}





@include bp(min-lg){
    body.not-scrolled {
        #Wrapper {
            header {
                width: 100%;
                a.menu-button {
                    display: none;
                }
                nav#main-menu {
                    display: block!important;
                    position: absolute;
                    padding: 0;
                    top: 0px;
                    left: 200px;
                    bottom: 0;
                    margin: 0;
                    width: auto;
                    max-width: 100%;
                    background-color: transparent;
                    overflow: visible;


                    a.close-menu {
                        display: none;
                    }


                    > ul {
                        position: absolute;
                        bottom: 0px;
                        right: 0;
                        margin: 0;
                        padding: 0;
                        display: block;
                        text-align: center;
                        a {
                            padding: 0;
                            font-size: 16px;
                        }
                        > li {
                            display: inline-block;
                            padding: 0px 20px 0 0;
                            a, span, a i {
                                font-size: 1.1vw;
                                &:hover {
                                    border-bottom: 1px solid $White;
                                }

                            }
                            a i {
                                opacity: 0.5;
                                &:hover{
                                    border-bottom: 1px solid transparent;
                                    opacity: 1;
                                }
                            }

                            &.has-parent {
                                border-bottom: none;
                                margin-bottom: 0;
                            }
                            &.last {
                                padding: 0;
                            }
                            a.show-children,
                            a.show-parent {
                                i {
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@include bp(min-xl){
    body.not-scrolled {
        #Wrapper {
            header {
                nav#main-menu {
                    > ul {
                        ul {
                            right: 0!important;
                        }
                    }
                }
            }
        }
    }
}
