
body.scrolled header a.home-button {
    background-image: $LogoSmall!important;
}

header {
    a.home-button,
    a.menu-button {
        position: fixed;
        top: 15px;
        height: 64px;
        width: 64px;
        text-indent: -99999px;
        z-index: 3;
        background-size: contain;
        background-repeat: no-repeat;
    }

    a.home-button {
        left: calc(15px + 1%);
        background-image: $LogoLarge;
        width: 253px;
    }
    a.menu-button {
        right: calc(15px + 1%);
        background-image: url(/themes/webpack_theme/images/menu-buttonV2.png);
    }
    a.menu-button:hover {
        /*background-image: url(/themes/webpack_theme/images/menu-button.png);*/
    }

    a.close-menu {
        display: block;
        text-align: left;
        font-size: 52px;
        font-family: sans-serif;
        margin-top: 0;
        padding-bottom: 0.55em;
        line-height: 0.5;
    }

    nav {
        /*transition: all 0.2s ease-out 0.2s;
        -webkit-transition: all 0.2s ease-out 0.2s;*/
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        background-color: $Accent2Colour;
        color: $White;
        z-index: 4;
        padding: 2em 0;
        opacity: 0.93;
        max-width: 400px;
        z-index: 30;
        display: none;
        a  {
            color: $White;
            text-decoration: none;
            font-size: 21px;
        }
        a.show-children,
        a.show-parent {
            border-bottom: none!important;
            margin-right: 5px;
            padding: 4px 0 8px;
            i {
                vertical-align: middle;
                border: 1px solid $LightGrey;
                border-radius: 50%;
                &:hover {
                    background-color: $LightGrey;
                    border-color: $White;
                }
            }
        }
        ul {
            li {
                a {
                    padding: 0.3em 0em;
                    display: inline-block;
                    border-bottom: 1px solid transparent;
                }
                &.current {
                    a {
                        color: $Accent4Colour;
                    }
                }
                &.section {
                    a {
                        color: $Accent5Colour;
                    }
                }
                &.has-children {
                    display: flex;
                    align-items: center;
                }
                &.has-parent {
                    @extend .has-children;
                    border-bottom: 1px solid $LightGrey;
                    margin-bottom: 1em;
                }
            }
            &.move-up {
                bottom: 100px!important;
            }
            &.move-down {
                bottom: 0px!important;
                margin-bottom: -100px;
            }
        }
    }
}


body.has-menu-overlay {
    overflow: hidden;
    header nav {
        width: calc(39% - 1% - 15px);
        padding: calc(15px + 1%);
        min-width: 200px;
        max-width: 100%;
        overflow-y: auto;
        display: block;
        @include bp(min-md){
            max-width: 400px;
        }
    }
    a.menu-button.open {
        opacity: 0;
    }
}

@include bp(min-sm) {
    body header a.home-button {
        background-image: $LogoLarge;
    }
    body.scrolled header a.home-button {
        background-image: $LogoSmall;
    }
}




@include bp(min-lg){
    body.not-scrolled {
        #Wrapper {
            header {
                width: 100%;
                a.menu-button {
                    display: none;
                }
                nav#main-menu {
                    display: block!important;
                    position: absolute;
                    padding: 0;
                    top: 0px;
                    right: calc(15px + 1%);
                    left: 200px;
                    bottom: 0;
                    margin: 0;
                    width: auto;
                    max-width: 100%;
                    background-color: transparent;
                    overflow: visible;

                    #search-form {
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                        width: 150px;
                        padding: 0;
                        margin: 0;
                        form, fieldset {
                            padding: 0;
                            margin: 0;
                            div {
                                padding: 0;
                                margin: 0;
                            }
                            i {
                                color: #fff;
                            }
                            input {
                                border: none;
                                border-bottom: 1px solid #fff;
                                background-color: transparent;
                                outline: none;
                                opacity: 0.3;
                                color: #fff;
                                &:focus {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    a.close-menu {
                        display: none;
                    }


                    > ul {
                        position: absolute;
                        bottom: 10px;
                        right: 170px;
                        left: 0;
                        margin: 0;
                        padding: 0;
                        display: block;
                        text-align: center;
                        a {
                            padding: 0;
                            font-size: 16px;
                        }
                        > li {
                            display: inline-block;
                            padding: 0px 20px 0 0;
                            a {
                                font-size: 1.1vw;
                                font-weight: 400;
                                &:hover {
                                    border-bottom: 1px solid $White;
                                }
                                @include bp(min-xl){
                                    font-weight: 400;
                                }
                            }
                            &.current {
                                a {
                                    font-weight: 400!important;
                                    border-bottom: 1px solid $White;
                                    color: $White;
                                }
                            }
                            &.section {
                                a {
                                    color: $Accent4Colour;
                                    i.material-icons {
                                        color: $Accent4Colour;
                                    }
                                }
                            }
                            &.has-parent {
                                border-bottom: none;
                                margin-bottom: 0;
                            }
                            &.last {
                                padding: 0;
                            }
                            a.show-children,
                            a.show-parent {
                                i {
                                    color: $White;
                                    border-color: $Accent4Colour;
                                }
                                &:hover {
                                    i {
                                        background-color: $Accent4Colour;
                                        border-color: $White;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@include bp(min-xl){
    body.not-scrolled {
        #Wrapper {
            header {
                nav#main-menu {
                    #search-form {
                        position: absolute;
                        bottom: 10px;
                    }
                    > ul {
                        right: 180px;
                        ul {
                            right: 0!important;
                        }
                    }
                }
            }
        }
    }
}
