

/**
 * CALL TO ACTION
 */

.not-scrolled figure:hover {
    cursor: s-resize;
}

figure.large-image {
    width: 100%;
    overflow: hidden;
    background-color: $LightGrey;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

figure.large-image figcaption {
    font-size: calc(2.5vh + 2.5vw);
    padding: 7vh;
    display: block;
    color: $White;
    font-family: $HeaderFont;
    font-weight: 700;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $Accent1Colour;*/
    text-shadow: 2px 2px $Accent1Colour;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    line-height: 1;
}

figure.large-image a.button {
    background-color: $Accent1Colour;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 7px;
    border: 1px solid $White;
    display: block;
    cursor: pointer;
    color: $White;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: calc(15px + 1%);
    right: calc(15px + 1%);
    font-family: $HeaderFont;
}

figure.large-image a.button:hover {
    margin-top: -1px;
}

figure.large-image a.button:active {
    bottom: 16px;
}
