
.typography {
    font-family: $TextFont;
    color: $White;
    font-size: 20px;
    letter-spacing: 1px;
    hyphens: auto;
    overflow-wrap: break-word;

    /**
     * all
     */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0px;
        padding: 0;
        padding-top: 2em;
        padding-bottom: 0.5em;
        text-transform: uppercase;
        color: $ThemeGreen;
        font-weight: 700;
        font-family: $HeaderFont;
    }


    //
    // > h1:first-child,
    // > h2:first-child,
    // > h3:first-child,
    // > h4:first-child,
    // > h5:first-child,
    // > h6:first-child,
    // > li:first-child,
    // > ul:first-child,
    // article > h1:first-child,
    // article > h2:first-child,
    // article > h3:first-child,
    // article > h4:first-child,
    // article > h5:first-child,
    // article > h6:first-child,
    // article > li:first-child,
    // article > ul:first-child,
    // section > h1:first-child,
    // section > h2:first-child,
    // section > h3:first-child,
    // section > h4:first-child,
    // section > h5:first-child,
    // section > h6:first-child,
    // section > li:first-child,
    // section > ul:first-child,
    // div:first-child > h1:first-child,
    // div:first-child > h2:first-child,
    // div:first-child > h3:first-child,
    // div:first-child > h4:first-child,
    // div:first-child > h5:first-child,
    // div:first-child > h6:first-child,
    // div:first-child > li:first-child,
    // div:first-child > ul:first-child  {
    //     padding-top: 0!important;
    //     margin-top: 0!important;
    // }

    > div:first-child {
        padding-top: 0;
    }
    /**
     * headings
     */
     h1 {
         font-size: 32px;
     }
     h2 {
         font-size: 24px;
     }
     h3 {
         font-size: 20px;
     }

    h1,
    h2 {
        padding-top: 1.7em;
        padding-bottom: 0.3em;
        line-height: 1;
    }


    h3,
    h4,
    h5,
    h6 {
        padding-top: 1.5em;
        font-weight: 700;
    }

    h4,
    h5,
    h6 {
        font-size: 20px;

    }

    /**
     * lists and paragraphs
     */
    li,
    p {
        line-height: 1.5;
        font-weight: 300;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    ul {
        padding-left: 15px;
    }
    ol {
        padding: 2em;
    }
    li ol {
        padding: 1em;
    }
    ol li {
        list-style-type: decimal;
    }
    li ol li {
        list-style-type:lower-alpha;
    }
    li li ol li {
        margin-left: 5em;
        list-style-type: decimal-leading-zero;
    }
    li li li ol li {
        list-style-type:upper-roman;
    }
    strong,
    b,
    em,
    i,
    u {
        color: orange;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }
    strong,
    b {
        font-weight: 700;
        color: $ThemeDarkOrange;
    }

    u {
        text-decoration: underline double;
    }

    a {
        font-weight: 500;
        text-decoration: none;
        border-bottom: $thick-border-transparent;
        &:hover {
            border-bottom: $thick-border;
        }
        color: $LinkColour;
    }

    h3 a {
        text-decoration: none;
    }

    li {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        margin-top: 0;
        margin-bottom: 0;

        list-style: disc;
        list-style-position: outside;
        margin-left: 1em;
    }

    img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0px auto 20px auto;
        padding: 0;
        border-style: none;
        vertical-align: top;
        border: $thick-border;
        border-color: $ThemeGreen;
        display: block;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
    }

    figure {
        display: block;
        text-align: center;
        margin: 0 auto 20px;
    }
    /**
     * Tables
     */




     /**
      * address and pre
      */



    blockquote p {
        font-size: 1em;
        font-family: serif;
        font-style: italic;
    }

    address {
        font-style: normal;
        margin-left: 3em;
        padding-top: 2em;
        padding-bottom: 2em;
        color: $White;
    }

    pre {
        font-family: $MonoFont, monospace;
        line-height: 1.7;
        font-size: 0.7em;
        padding: 0.7em;
        margin: 0.9em 0;
        color: $Black;
        background-color: $;
          /* gradient */
        background-position: 0px center;
        background-repeat: no-repeat;
        border-top: 2px solid #808383;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
        padding-left: 3em;
        text-indent: -2em!important;
        display: block;
    }


    /**
     * media
     */
     div.media {
         padding: 2em 0;
         background: none;
         background-color: $ThemeLightGrey;
         margin: 1em 0;
     }

     div.media iframe {
         margin-left: auto!important;
         margin-right: auto!important;
         display: block;
         max-width: 100%!important;
     }
}
