

/**
 * CALL TO ACTION
 */

.not-scrolled figure:hover {
    cursor: s-resize;
}


.scrolled {
    header {
        &:hover{
            cursor: n-resize;
        }

    }
}

figure.large-image {
    width: 100%;
    overflow: hidden;
    background-color: $LightGrey;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    figcaption {
        font-weight: 300;
        line-height: 1.2;
        padding: 50px 7vw 7vh 7vw;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        line-height: 1;
        h1, span {
            font-size: calc(3.5vh + 3.5vw);
            padding-left: 0.2em;
            margin-bottom: 0.3em;
            text-align: left;
            display: block;
            line-height: 1.6;
            strong {
                padding: 0.1em;
                text-shadow: 1px 1px #000;
                color: $White;
                font-family: $HeaderFont;
                border-radius: 5px;
                display: inline;
                background-color: rgba(125,125,125, 0.3);
                &:after {
                    padding: 10px;
                    content: ' ';
                }
            }
        }
        &.black {
            h1, span {
                strong {
                    color: #000;
                    text-shadow: 1px 1px #fff;
                }
            }
        }
        h1 {
            font-weight: 700;
        }
        span {
            font-weight: 400;
            font-size: calc(2.5vh + 2.5vw);
        }
    }

    a.button {
        background-color: $Accent1Colour;
        border-radius: 50px;
        border: 1px solid rgba(125,124,125,0.5);
        display: block;
        cursor: pointer;
        color: $White;
        font-size: 17px;
        padding: 16px 31px;
        text-decoration: none;
        display: block;
        position: absolute;
        bottom: calc(15px + 1%);
        right: calc(15px + 1%);
        font-family: $HeaderFont;
    }
    a.button:hover {
        margin-bottom: -1px;
    }
}



@include bp(min-md) {
    figure.large-image {
        figcaption {
            padding-top: 12vh;
            h1, span {
                font-size: calc(2vh + 2vw);
            }
        }
    }


}
