#Wrapper {
    .article-list {
        margin: 0px;
        padding: 0px;
        display: grid;
        max-width: 100%;
        @include bp(min-md){
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 20px;
        }
        @include bp(min-lg){
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 25px;
        }
        @include bp(min-xl){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 30px;
        }
        > li {
            padding: 0;
            margin: 10px auto;
            margin-bottom: 25px;
            @include bp(min-md){
                margin-bottom: 0px;
            }
            list-style: none;
            border: 1px solid $LighterGrey;
            box-sizing: border-box;
            background-color: $White;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            max-width: 450px;
            width: 100%;
            &:before {
                content: '';
            }
            article {
                h3 {
                    background-color: $Accent1OppositeColour;
                    text-align: center;
                    vertical-align: bottom;
                    padding: 0.5em 0!important;
                    color: $White!important;
                    a {
                        color: $White!important;
                    }
                }
                > div {
                    padding: 1rem;
                }
            }
        }
    }
    .article-list.half {
        @include bp(min-sm){
            grid-template-columns: 1fr;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            li {
                max-width: 900px;
            }
        }
        @include bp(min-md){
            grid-template-columns: 1fr;
        }
        @include bp(min-lg){
            grid-template-columns: 1fr 1fr;
        }
        @include bp(min-xl){
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
        }
    }
    .article-list.double {
        @include bp(min-sm){
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 20px;
        }
        @include bp(min-md){
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 25px;
        }
        @include bp(min-lg){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 30px;
        }
        @include bp(min-xl){
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 35px;
        }
    }
    .article-list.triple {
        @include bp(min-sm){
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 25px;
        }
        @include bp(min-md){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 30px;
        }
        @include bp(min-lg){
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 35px;
        }
        @include bp(min-xl){
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 2.5%;
            grid-row-gap: 40px;
        }
    }
}
