#Wrapper {
    .article-list {
        margin: 0px;
        padding: 0px;
        display: grid;
        max-width: 100%;
        @include bp(min-md){
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
        @include bp(min-xl){
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 40px;
            grid-row-gap: 40px
        }
        > li {
            padding: 0;
            margin: 0;
            list-style: none;
            border: 1px solid $LighterGrey;
            box-sizing: border-box;
            background-color: $White;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            &:before {
                content: '';
            }
            article {
                h3 {
                    background-color: $LighterGrey;
                    text-align: center;
                    vertical-align: bottom;
                    padding-top: 0.5em!important;
                    color: $White!important;
                }
                > div {
                    padding: 1rem;
                }
            }
        }
    }
    .article-list.double {
        @include bp(min-md){
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
        @include bp(min-xl){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 25px;
            grid-row-gap: 25px;
        }
    }
    .article-list.triple {
        @include bp(min-md){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 25px;
        }
        @include bp(min-xl){
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
        }
    }
}
