#footer {
    background-color: $FooterBackgroundColour;
    color: $White;
    position: relative;
    clear: both;
    padding: 0 calc(15px + 1%) 0;
    .footer-col {
        clear: both;
        @include bp(min-xl) {
            li, p, h3 {
                font-size: 20px!important;

            }
        }
        ul, li {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
            &:before {
                content: '';
            }
        }
        a {
            color: $White;
            text-decoration: none;
            border-bottom: $thick-border-transparent;
        }
        a.section {
            color: $ThemePinky;
        }
        a.current{
            color: $ThemeGreen;
        }
    }
    ul.menu-list li {
        font-size: 20px;
        text-transform: none;
        float: left;
        padding: 0;
        &:after {
            content: ' / ';
            margin-right: 10px;
            color: $ThemeLightGrey;
        }
        &:last-child:after {
            content: '';
        }

    }
    #FooterCopyrightMessage,
    h3,
    p {
        font-size: 14px;
    }
    #FooterCopyrightMessage {
        clear: both;
        padding-top: 2em;
        padding-bottom: 2em;
        a {
            text-decoration: none;
            border: $thick-border-transparent;
        }
    }
    h3 {
        border-bottom: 2px solid $ThemeGreen;
        margin-bottom: 0.5em!important;
        clear: both;
        margin-top: 0;
        padding-top: 2em;
    }
    p {
        color: $White;
    }
    video {
        width: 100%!important;
        display: block;
        height: auto;
    }

}


@include bp(min-md){
    footer#footer .footer-col {
        width: 30%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        float: left;
        clear: none;
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
    }
}
