

/* Grid - from SKELETON
––––––––––––––––––––––––––––––––––––––––––––––––––
<anything class="container">
    <anything class="row">
        <anything class="columns three"></anything>
        <anything class="columns nine"></anything>
    </anything>
    <anything class="row">
        <anything class="columns offset-by-six six"></anything>
    </anything>
    <anything class="row">
        <anything class="columns four"></anything>
        <anything class="columns off-set-by-two four"></anything>
        <anything class="columns two"></anything>
    </anything>
</anything>

*/



.container {
    clear: both;
    position: relative;
    width: 100%;
    max-width: calc(100% - 30px - 2%);
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
    .columns {
        padding: 0 10px;
        width: 100%;
        box-sizing: border-box;
    }

    @include bp(min-xl){
        max-width: 1470px;
    }
    @include bp(min-lg){
        padding-left: calc(15px + 1%);
        padding-right: calc(15px + 1%);
    }
}

.row {
    clear: both;
}
