
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: calc(64px + 30px);
    z-index: 10;
    padding-bottom: 10px;
    border-bottom: $thick-border-more-strength;
    border-width: 1px;
    background-color: $MenuBarBackgroundColour;
    .container {
        padding: 20px;
        #site-heading {
            display: block;
            color: $ThemeRed;
            font-family: $HeaderFont;
            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            text-shadow: 1px 1px 7px rgba(255,255,255, 0.3);
            @include bp(min-sm) {
                font-size: 30px;
            }
            @include bp(min-md) {
                font-size: 40px;
            }
        }

        .tagline {
            position: absolute;
            bottom: 0;
            color: $White;
            font-size: 15px;
            @include bp(min-sm) {
            }
            @include bp(min-md) {
                font-size: 20px;
            }
            text-transform: lowercase;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
        }
    }

}

.scrolled {
    header {
        width: 100%;
        max-width: 100%;
        opacity: 0.5;
        z-index: 1;
        padding-bottom: 0;
        background-image: none;
        .container{
            width: 100%;
            max-width: 100%;
            #site-heading {
                opacity: 0.15;
                font-size: 25px;
                @include bp(min-xl) {
                    opacity: 0.8;
                    font-size: 30px;
                    color: $White;
                    display: block;
                }
            }
            .tagline {
                display: none;
            }
        }
    }
}



// only apply once these classes have been added ...

.scrolled,
.not-scrolled {
    header {
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
}
