
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: calc(64px + 30px);
    z-index: 10;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
    background-color: rgba(167, 27, 9, 0.65);
    .container {
        padding: 20px;
        #site-heading {
            display: block;
            color: #ef5c2b;
            font-family: $HeaderFont;
            font-size: 20px;
            @include bp(min-sm) {
                font-size: 30px;
            }
            @include bp(min-md) {
                font-size: 40px;
            }
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
        }

        .tagline {
            position: absolute;
            bottom: 0;
            color: $TextColour;
            font-size: 15px;
            @include bp(min-sm) {
            }
            @include bp(min-md) {
                font-size: 20px;
            }
            text-transform: uppercase;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
        }
    }

}

.scrolled {
    header {
        width: 100%;
        max-width: 100%;
        opacity: 0.5;
        z-index: 1;
        padding-bottom: 0;
        border-bottom: 1px solid #fff;
        .container{
            width: 100%;
            max-width: 100%;
            #site-heading {
                display: none;
                @include bp(min-xl) {
                    font-size: 30px;
                    color: #fff;
                    display: block;
                }
            }
            .tagline {
                display: none;
            }
        }
    }
}


#Breadcrumbs {
    display: none;
    @include bp(min-sm) {
        display: block;
    }
    opacity: 0.5;
    position: absolute;
    top: calc(64px + 30px + 15px);
    z-index: 2;
    font-size: 14px;
    max-width: 1430px;
    padding: 10px 20px;
    margin: 0 auto;
    right: calc(15px + 1%);
    left: calc(15px + 1%);
    background-color: transparent;
    color: $HZPinky;
    a {
        text-decoration: none;
        color: $HZPinky;
        &:hover {
            color: #fff;
        }
    }
    &:hover {
        opacity: 1;
    }
}
.scrolled {

    #Breadcrumbs {
        display: none;
    }
}

.scrolled, .not-scrolled {
    header {
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }
}
