
header {
    background-color: $MenuBarBackgroundColour;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: calc(64px + 30px);
    z-index: 10;
}

.scrolled {
    header {
        opacity: 0.3;
        background-color: $Accent2Colour;
        &:hover{
            cursor: n-resize;
        }

    }
}

#Breadcrumbs {
    position: absolute;
    top: calc(64px + 30px + 15px);
    right: calc(15px + 1%);
    z-index: 2;
    padding: 0.5em;
    margin-bottom: 20px;
    color: $Accent3Colour;
    font-size: 14px;
}
#Breadcrumbs a {
    color: $Accent5Colour;
    text-decoration: none;
}

.empty-space {
    margin: 0;
    padding: 0;
    width: 100%;
    clear: both;
    height: 5vh;
}
