/*

BEST: https://coolors.co/9e0914-031927-8ea604-508aa8-ec9f05

https://coolors.co/9e0914-8ea604-f5bb00-ec9f05-d76a03

https://coolors.co/9e0914-031927-9dd1f1-508aa8-c8e0f4

https://coolors.co/9e0914-f4e409-eeba0b-c36f09-a63c06

https://coolors.co/9e0914-223127-ce5374-dbbbf5-ddf0ff
 */
html {
    height: 100%;
    background-color: $BackgroundColour;
}

body {
    min-height: 100%;
    font-family: $TextFont;
    background-color: $BackgroundColour;
}

#Wrapper {
    min-height: 100vh;
}



#page-holder {
    margin-top: calc(64px + 30px);
    padding-bottom: 64px;
    min-height: 800px;
}

#MaintContent {
    overflow: auto;
}

#MySidebarImage img{
    border-color: $Accent1Colour;
    width: calc(100% - 22px);
}







.full-width-content .content-padding {
    padding: 40px calc(15px + 1%) 0;
    @include bp(min-md){
        padding: 40px calc(15px + 1%) 0;
    }
}

@media screen and (min-width: 450px) {

}

@media screen and (min-width: 750px) {

    footer#footer .footer-col {
        width: 41%;
        padding-left: 3%;
        padding-right: 3%;
        float: left;
    }

}

@media screen and (min-width: 1000px) {
    #MainDetails {
        padding-top: 30px;
    }
}
@media screen and (min-width: 1550px) {
    #MainDetails {
        padding-top: 50px;
    }

}




/* Grid - from SKELETON
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: calc(100% - 30px - 2%);
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    .column,
    .columns {
        width: 100%;
        float: left;
        box-sizing: border-box;
    }
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
        .column,
        .columns {
            margin-left: 4%;
        }
        .column:first-child,
        .columns:first-child {
            margin-left: 0;
        }

        .one.column,
        .one.columns                    { width: 4.66666666667%; }
        .two.columns                    { width: 13.3333333333%; }
        .three.columns                  { width: 22%;            }
        .four.columns                   { width: 30.6666666667%; }
        .five.columns                   { width: 39.3333333333%; }
        .six.columns                    { width: 48%;            }
        .seven.columns                  { width: 56.6666666667%; }
        .eight.columns                  { width: 65.3333333333%; }
        .nine.columns                   { width: 74.0%;          }
        .ten.columns                    { width: 82.6666666667%; }
        .eleven.columns                 { width: 91.3333333333%; }
        .twelve.columns                 { width: 100%; margin-left: 0; }

        .one-third.column               { width: 30.6666666667%; }
        .two-thirds.column              { width: 65.3333333333%; }

        .one-half.column                { width: 48%; }

        /* Offsets */
        .offset-by-one.column,
        .offset-by-one.columns          { margin-left: 8.66666666667%; }
        .offset-by-two.column,
        .offset-by-two.columns          { margin-left: 17.3333333333%; }
        .offset-by-three.column,
        .offset-by-three.columns        { margin-left: 26%;            }
        .offset-by-four.column,
        .offset-by-four.columns         { margin-left: 34.6666666667%; }
        .offset-by-five.column,
        .offset-by-five.columns         { margin-left: 43.3333333333%; }
        .offset-by-six.column,
        .offset-by-six.columns          { margin-left: 52%;            }
        .offset-by-seven.column,
        .offset-by-seven.columns        { margin-left: 60.6666666667%; }
        .offset-by-eight.column,
        .offset-by-eight.columns        { margin-left: 69.3333333333%; }
        .offset-by-nine.column,
        .offset-by-nine.columns         { margin-left: 78.0%;          }
        .offset-by-ten.column,
        .offset-by-ten.columns          { margin-left: 86.6666666667%; }
        .offset-by-eleven.column,
        .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

        .offset-by-one-third.column,
        .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
        .offset-by-two-thirds.column,
        .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

        .offset-by-one-half.column,
        .offset-by-one-half.columns     { margin-left: 52%; }
    }
}

article {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border: 1px solid $LightGrey;
    float: left;
    margin-bottom: 20px;
    h3 {
        background-color: $Accent2Colour;
        text-align: center;
        line-height: 2;
        color: $White!important;
    }
    > div {
        padding: 1rem;
    }
    &:nth-of-type(3n + 1) {
        clear: left;
    }
}
