/*

BEST: https://coolors.co/9e0914-031927-8ea604-508aa8-ec9f05

https://coolors.co/9e0914-8ea604-f5bb00-ec9f05-d76a03

https://coolors.co/9e0914-031927-9dd1f1-508aa8-c8e0f4

https://coolors.co/9e0914-f4e409-eeba0b-c36f09-a63c06

https://coolors.co/9e0914-223127-ce5374-dbbbf5-ddf0ff
 */
html {
    height: 100%;
    background-color: $BackgroundColour;
}

body {
    min-height: 100%;
    font-family: $TextFont;
    background-color: $BackgroundColour;
}

#Wrapper {
    min-height: 100vh;
}



#page-holder {
    margin-top: calc(64px + 30px);
    padding-bottom: 64px;
    min-height: 800px;
}

#MaintContent {
    overflow: auto;
}

#MySidebarImage img{
    border-color: $Accent1Colour;
    width: calc(100% - 22px);
    border: none;
    padding:0;
    margin: 0;
}







.full-width-content .content-padding {
    padding: 40px calc(15px + 1%) 0;
    @include bp(min-md){
        padding: 40px calc(15px + 1%) 0;
    }
}

@media screen and (min-width: 450px) {

}

@media screen and (min-width: 750px) {

    footer#footer .footer-col {
        width: 41%;
        padding-left: 3%;
        padding-right: 3%;
        float: left;
    }

}

@media screen and (min-width: 1000px) {
    .container {
        padding-top: 30px;
    }
}
@media screen and (min-width: 1550px) {
    .container {
        padding-top: 50px;
    }

}
